# Azure OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_KEY=
AZURE_OPENAI_DEPLOYMENT=
AZURE_EMBEDDING_DEPLOYMENT=

# Azure AI Search
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_KEY=
AZURE_SEARCH_INDEX=

#AZURE BLOB STORAGE CONFIG
AZURE_BLOB_CONNECTION_STRING=
AZURE_BLOB_CONTAINER=

#LANGSMITH CONFIG
LANGCHAIN_TRACING_V2=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=

#AZURE_VIDEO_INDEXER_CONFIG
AZURE_VIDEO_INDEXER_RESOURCE_GROUP=
AZURE_VIDEO_INDEXER_ACCOUNT_NAME=
AZURE_VIDEO_INDEXER_LOCATION=
AZURE_VIDEO_INDEXER_SUBSCRIPTION_ID=
AZURE_VIDEO_INDEXER_ACCOUNT_ID=
AZURE_VIDEO_INDEXER_ACCESS_TOKEN=